.cart {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
}

.headings {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
