html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.homepage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  justify-content: flex-start;
}
.footer-container {
  justify-content: end;
}
