.footer {
  display: flex;
  justify-content: space-between;
  height: 15vh;
  max-height: 35vh;
  overflow: hidden;
  margin-top: 200px;
  background-color: beige;
}
.contact-us {
  margin-left: 10%;
  width: 30%;
  height: 100%;
}
.footer-logo {
  height: 100%;
  width: 30%;
}
.footer-logo > img {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 200px;
  height: 100px;
}
.social-media-icons {
  width: 30%;
  height: 100%;
}
.social-media-icon {
  width: 500px;
  height: 500px;
}
